@charset "utf-8";
/* CSS Document */

/* STUDENTS, PUT YOUR STYLES HERE */
.item_1_box {
background-color:#090;
transition: color 1000ms linear 10ms;
}
.item_1_box:hover {
	background-color: blue;
}
.item_2_box {
width: 50%;
transition: width 3000ms linear 10ms;
}
.item_2_box:hover {
	width: 70%;
}
.item_3_box {
height: 1.2em;
}
.item_3_box:hover {
	height: 2.2rem;
	transition: height 500ms linear 10ms;
}
.item_4_box {
	transform: scale(1,1);
	transition: transform 1000ms linear 10ms;
}
.item_4_box:hover {
	transform: scale(2,2);
}

.item_5_box {
	opacity: 1;
height: 1.2em;
}
.item_5_box:hover {
	opacity: .5;
}

.item_6_box {
	color:#ff9;
	font-size: 1em;
}
.item_6_box:hover {
	color: purple;
	font-size: 2em;
}

.item_7_box {
	border:#000 solid 1px;
}
.item_7_box:hover {
	border:#909 solid 10px;
}
.item_8_box {
	width: 80%;
	padding-left: 4%;
	text-align:left;
	transition: width 1000ms linear 10ms;
	transition: padding-left 1000ms linear 10ms;
}
.item_8_box:hover {
	width: 40%;
	padding-left: 40%;
}

.item_9_box {
	box-shadow: 3px 3px 1px #888888;
}

.item_10_box {
	width:50%;
	color:#ff9;
	background-color: #090;
}
.item_10_box:hover {
	width:70%;
	color:#9ff;
	background-color: #909;
}
.item_11_box {
	width:50%;
	transition: width 2000ms linear 0ms;
	color:#ff9;
	transition: color 2000ms linear 1000ms;
	background-color: #090;
	transition: background-color 2000ms linear 2000ms;
}
.item_11_box:hover {
	width:70%;
	color:#9ff;
	background-color: #909;
}
.item_12_box {
	height: 4em;
}
.item_12_box .yellow_square{
	width:2em; height:2em;
	background-color: #ff9;
	margin:0 auto;
}
.item_12_box:hover .yellow_square{
	background-color: blue;
}

.item_13_box {
	width:80%;
	height: 2.5em;
}
.item_13_box a {
	display:block;
	overflow:hidden;
	height:.2em;
	background-color: #060;
	margin:.1em auto;
}
.item_13_box:hover {
	transform: scale(1,2);
}
.item_13_box:hover a {
	transform: scale(1,2);
}

.item_14_box {
	width: 150px;
	height: 34px;
	padding: 26px 0 0 0;
	background-image: url(../img/dog.gif);
	transition: background-position 1s ease-in 10ms;
}
.item_14_box:hover {
	background-position: -150px 0px;
}

.item_15_box {
	transform: rotate(0deg);
	transition: transform 1000ms linear 10ms;
}
.item_15_box:hover {
	transform: rotate(1080deg);
	color: red;
}


/* DO NOT TOUCH STYLES BELOW HERE. Designing for mobile first */
html {	background-color:#210;
	font-size:100%;	}
body {	background-color:#dcb;
	font-size:90%;
	width:94%; max-width:1280px;
	margin: 0 auto 1rem auto;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.4;	}
header {	background-color:#765; }
main {
	display:block;
	padding: 1rem 1rem 1rem 1rem;
}
h1 { font-size:1.4em;
	font-weight:bold;
	padding:1rem;
	color: #fff; }

a  { color:#ddf;text-decoration:underline; }
a:link  { color:#ddf;  }
a:visited { color:#bbf; }
a:hover { color:#fff;   }
a:focus { color:#fff; }
a:active { color:#99f; }

.grid-container {
	padding: 2rem 0 0 0;
}
article {
	margin: 0 1% .5rem 0;
	position: relative;
	background-color:#fff;
	height: 16rem;
}
article header {
	background-color:#fed;
	padding: 1rem 1rem 1rem 1rem;
}
article footer {
	background-color:#fed;
	width:100%;
	font-style:italic;
	font-size: .8rem;
	color:#600;
	position:absolute;
	bottom:0;
	min-height:3rem;
}
article footer p {
	padding: 1rem 1rem 1rem 1rem;
}

/* DO NOT TOUCH. STYLES ALL THE GREEN ITEM BOXES SHARE */

section {
	background-color:#090;
	width: 50%; height: 1.2em;
	font-size: .9em;
	padding: 4%;
	color:#eed;
	text-align:center;
	margin: 6% auto 6% auto;
	cursor:pointer;
}


/* DO NOT TOUCH. Define styles that should only happen if the screen is wider */
@media screen and (min-width:481px){
	html{
		font-size:100%;
	}
}
@media screen and (min-width:721px){
	html{
		font-size:110%;
	}
	.grid-container {
		display:flex;
		flex-flow:row wrap;
		justify-content: left;
		padding: 2rem 0 0 0;
	}
	article {
		margin: 0 1% .5rem 0;
		flex:1 1 32%;
		height: 20rem;
	}
	article header {
		min-height:7rem;
	}
	article footer {
		width:100%;
	}
}
@media screen and (min-width:960px){
	html{
		font-size:115%;
	}
}
/* ADD YOUR CODE AT TOP OF PAGE */
